{% extends "layout.html" %}

{% block content %}

<h3 class="mb-4">📋 All Bookings</h3>

<div class="card shadow p-4">

<table class="table table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Slot</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Amount (₹)</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for b in bookings %}
        <tr>
            <td>{{ b['id'] }}</td>
            <td>{{ b['name'] }}</td>
            <td>{{ b['slot_id'] }}</td>
            <td>{{ b['start_time'] }}</td>
            <td>{{ b['end_time'] or '-' }}</td>
            <td>{{ b['total_amount'] or '-' }}</td>
            <td>
                {% if b['status'] == 'Active' %}
                    <span class="badge bg-warning">Active</span>
                {% else %}
                    <span class="badge bg-success">Completed</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>

{% endblock %}